.collectibles {
    .collectible-container {
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 100px 0;

        @media (max-width: 768px) {
            margin: 50px o;
        }
    
    
        .collectible-item {
        text-align: center;
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
    
            img {
                height: 500px;
                width: 400px;
                border-radius: 20px;

                @media (max-width: 768px) {
                    height: 450px;
                    width: 350px;
                }

                @media (max-width: 600px) {
                    height: 350px;
                    width: 250px;
                }

                @media (max-width: 420px) {
                    height: 275px;
                    width: 175px;
                }
            
            }
        }
        .visible {
            display: flex;
        }
    }
}