@use 'about';
@use 'main-characters';
@use 'collectibles';
@use 'colors';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;

    @media (max-width: 768px) {
        font-size: 0.9rem;
    }
}

body {
    background-color: colors.$mainColor;
    color: colors.$textColor;
}
    

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 25px 0;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    background-color: colors.$mainColor;


    .nav-btn {
        display: inline;
        margin: 0 20px;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-decoration: none;
        color: white;

        @media (max-width: 768px) {
            margin: 0 5px;
            letter-spacing: 0;
            font-size: 1rem;
        }
        
        @media (max-width: 600px) {
            font-size: 1rem;
            display: block;
            margin: 5px;
        }
    }

    .is-active {
        text-decoration: underline;
        text-decoration-color: colors.$textColor;
    }
}

.button {
    color: colors.$textColor;
    background-color: colors.$mainColor;
    border-color: colors.$textColor;
    border: none;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: white;
        color:colors.$mainColor;
    }

    @media (max-width: 768px) {
        font-size: 1.25rem;
    }
}

.is-hidden {
    visibility: hidden;
}



section {
    max-width: 1024px;
    width: 100%;
    margin: 100px auto;
    text-align: center;

    @media (max-width: 768px) {
        margin: 25px auto;
        width: 90%;
    }
}

.section-title {
    font-family: 'Young Serif', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    color: rgb(178, 178, 4);
}

footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    background-color: colors.$mainColor;

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
    }

    div {
        width: 35%;
        display: block;

        .section-title {
            margin-bottom: 0;
            font-size: 1.25rem;
        }

        p {
            margin: 10px 0;
        }
    }
}